:root {
    --color-theme: #00C805;
}

.mainchart__balance {
    font-size: xx-large;
    font-weight: 500;
}

.mainchart__description {
    font-size: medium;
    font-weight: 400;
}

.timeframe__options{
    display: flex;
    justify-content: left;
}

.timeframe__option {
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    padding: 10px 8px 10px 8px;
    cursor: pointer;
}

.timeframe__option:hover {
    color: var(--color-theme);
}

.selected {
    border-bottom: 2px solid var(--color-theme);
    color: var(--color-theme);

}