.home {
    background-color: #000000;
    min-height: 100vh;
    color: white;
  }

.home__body {
    margin: 0 13% 0 13%;
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: space-evenly;
    
}

.home__chart {
    width: 32em;
    padding: 0 0.5em 0 0.5em
    
}

.home__positions {
    background-color: #181818;
    height: min-content;
    border-radius: 4px;
    padding: 0 0.5em 0 0.5em
}