.header {
    position: sticky;
    display: flex;
    height: 4em;

}

.header__icon {
    flex: 1;
    min-width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__searchbar {
    flex: 2;
    min-width: 20em;
}

.header__options {
    flex: 3;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 3em;
    
}


.app__icon {
    color: #00C805;
}

.search__icon {
    padding-right: 7px;
    padding-left: 5px;
    margin-top: 4px;
    
}

.search {
    border: 1px solid #282828;
    width: 98%;
    height: 32px;
    display: flex;
    background-color: transparent;
    border-radius: 4px;
    color: gray;
    margin-top: 15px;
    
}
.search > input {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    resize: none;
    color: gray;
}

.search:hover {
    background-color: #282828;
}
.search:focus-within {
    background-color: #282828;
    color: white;
}

.search > input:focus {
    color: white;
    
}

.headeroption {
    color: white;
    font-size: small;
    cursor: pointer;
    width: fit-content;
    padding: 10px 15px 5px 15px;
    position: relative;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.headeroption__text:hover {
    color: #00C805;
}
.headeroption__icon {
    color: #000000;
    background-color: #FF5000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 5px;
    right: 3px;
}

.material-symbols-outlined {
    font-size: 14px;
    font-weight: bolder;
}

.dropdown__menu {
    background-color: #383838;
    color: white;
    min-width: 100%;
    width: fit-content;
    position: absolute;
    top: 2.5em;
    right: 0em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.5em 0 0 0;
    border-top: 1px solid white;
}

.dropdown__item {
    padding: 0.5em 1em 0.5em 0.5em;
    display: flex;
    justify-content: right;

}

.dropdown__item:hover {
    color: #00C805;
}

